<!DOCTYPE html>
<html>
<body>
    <div class="fixed-header">
      <div class="container">
        <h1 class="text-center"><b>Адаптивная по ширине</b></h1>
      </div>
    </div>
    <div class="album">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3" style="padding-top:10px">
            <div class="card text-left box-shadow">
              <div class="card-body">
                <ul style="list-style: none">
                  <li>
                    <a href="#">Menu 1</a>
                    <ul style="list-style: none">
                        <li>
                          <a href="#">Menu 1 a</a>
                        </li>
                        <li>
                          <a href="#">Menu 1 b</a>
                        </li>
                        <li>
                          <a href="#">Menu 1 c</a>
                        </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Menu 2</a>
                    <ul style="list-style: none">
                        <li>
                          <a href="#">Menu 2 a</a>
                        </li>
                        <li>
                          <a href="#">Menu 2 b</a>
                        </li>
                        <li>
                          <a href="#">Menu 2 c</a>
                        </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Menu 3</a>
                    <ul style="list-style: none">
                        <li>
                          <a href="#">Menu 3 a</a>
                        </li>
                        <li>
                          <a href="#">Menu 3 b</a>
                        </li>
                        <li>
                          <a href="#">Menu 3 c</a>
                        </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="padding-top:10px">
              <div class="card mb-4 box-shadow ">
                <div class="card-body">
                    <div class="media-body border-bottom">
                      <h4 class="card-text"><b>How to use</b> </h4>
                      <p>Ever wondered what the difference between Adaptive, Responsive,
                        Static and Liquid sites is? Had someone try and explain it only to be left more confused?
                      </p>
                      <p>Pick a flavor from the drop down on the top of the page then
                          drag your window narrower and wider, taller and shorter. It
                          will make much more sense when you see for yours
                          elf how the approach works.
                      </p>
                  </div>
                  <div class="media2">
                    <div class="media-body border-bottom pt-3">
                      <img class="img-responsive lead-image" alt="Responsive" padding style="max-width:110px; height:auto;" src="https://sitepark.ua/images/verstka/images/layout_3.gif"/>
                      <h4 class="d-block"><b>Responsive</b></h4>
                        <p class="responsive">
                          Responsive is characterized by having defined layouts for different resolutions.
                          Within each layout, the design is liquid and resizes the width
                          of elements relative to the changing window size.
                        </p>
                        <p class="responsive">
                          You can think of Responsive as a series of <a href="#">Liquid</a> layouts.
                        </p>
                    </div>
                  </div>
                  <div class="media3">
                    <div class="media-body pt-3">
                      <img class="img-portret lead-image" alt="Title-content" src="https://sitepark.ua/images/verstka/images/photo.jpg" style="max-width:145px; height:auto;"/>
                        <div class="block-text">
                          <h4 class="d-block pb-0 mb-0"> <b>Title</b> </h4>
                          <small class="text-gray">Month dd, yyyy </small>
                          <p class="media-body pb-3 mb-0">
                            Content content content content content content content content content content content content content content content content
                          </p>
                          <a href="#">Link</a>
                      </div>
                    </div>
                  </div>
                  <div class="media4">
                    <div class="media-body pt-4">
                      <img class="img-portret lead-image" alt="Title-content" src="https://sitepark.ua/images/verstka/images/photo.jpg" style="max-width:145px; height:auto;"/>
                        <h4 class="d-block pb-0 mb-0"> <b>Title</b> </h4>
                        <small class="text-gray">Month dd, yyyy </small>
                        <p class="media-body pb-3 mb-0">
                          Content content content content content content content content content content content content content content content content
                        </p>
                        <a href="#">Link</a>
                    </div>
                  </div>
                  <div class="media5">
                    <div class="media-body pt-4">
                      <img class="img-portret lead-image" alt="Title-content" src="https://sitepark.ua/images/verstka/images/photo.jpg" style="max-width:145px; height:auto;"/>
                        <h4 class="d-block pb-0 mb-0"> <b>Title</b> </h4>
                        <small class="text-gray">Month dd, yyyy </small>
                        <p class="media-body pb-3 mb-0">
                          Content content content content content content content content content content content content content content content content
                        </p>
                        <a href="#">Link</a>
                    </div>
                  </div>
                  <div class="media6">
                    <div class="media-body pt-4">
                      <img class="img-portret lead-image" alt="Title-content" src="https://sitepark.ua/images/verstka/images/photo.jpg" style="max-width:145px; height:auto;"/>
                        <h4 class="d-block pb-0 mb-0"> <b>Title</b> </h4>
                        <small class="text-gray">Month dd, yyyy </small>
                        <p class="media-body pb-3 mb-0">
                          Content content content content content content content content content content content content content content content content
                        </p>
                        <a href="#">Link</a>
                    </div>
                  </div>
                  <div class="media7">
                    <div class="media-body pt-4">
                      <img class="img-portret lead-image" alt="Title-content" src="https://sitepark.ua/images/verstka/images/photo.jpg" style="max-width:145px; height:auto;"/>
                        <b><h4 class="d-block pb-0 mb-0"> <b>Title</b> </h4></b>
                        <small class="text-gray">Month dd, yyyy </small>
                        <p class="media-body pb-3 mb-0">
                          Content content content content content content content content content content content content content content content content
                        </p>
                        <a href="#">Link</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
            <div class="col-md-3" style="padding-right: 10px; padding-top: 10px">
              <div class="card mb-2 box-shadow">
                <div class="card-body">
                  <div class="right-card">
                    <div class="media-body">
                        <strong class="d-block pb-0 mb-0"> Title </strong>
                        <small class="text-gray">Month dd, yyyy </small>
                        <p class="media-body pb-3 mb-0">
                          Summary summary summary summary summary summary
                        </p>
                        <a href="#">Link</a>
                    </div>
                </div>
                <div class="right-card2">
                  <div class="media-body pt-4">
                      <strong class="d-block pb-0 mb-0"> Title </strong>
                      <small class="text-gray">Month dd, yyyy </small>
                      <p class="media-body pb-3 mb-0">
                        Summary summary summary summary summary summary
                      </p>
                      <a href="#">Link</a>
                  </div>
              </div>
              <div class="right-card3">
                <div class="media-body pt-4">
                    <strong class="d-block pb-0 mb-0"> Title </strong>
                    <small class="text-gray">Month dd, yyyy </small>
                    <p class="media-body pb-3 mb-0">
                      Summary summary summary summary summary summary
                    </p>
                    <a href="#">Link</a>
                </div>
              </div>
              <div class="right-card4">
                <div class="media-body pt-4">
                    <strong class="d-block pb-0 mb-0"> Title </strong>
                    <small class="text-gray">Month dd, yyyy </small>
                    <p class="media-body pb-3 mb-0">
                      Summary summary summary summary summary summary
                    </p>
                    <a href="#">Link</a>
                </div>
              </div>
              <div class="right-card5">
                <div class="media-body pt-4">
                    <strong class="d-block pb-0 mb-0"> Title </strong>
                    <small class="text-gray">Month dd, yyyy </small>
                    <p class="media-body pb-3 mb-0">
                      Summary summary summary summary summary summary
                    </p>
                    <a href="#">Link</a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
          <div class="footer">
            <div class="container">
              <p><b>Active bridge</b></p>
          </div>
        </div>
      </div>
</body>
</html>
