<div class="accepted-articles">
  <p> Article title: <%= article.title %><br>
  Article description: <%= article.description %><br>
  Created at: <%= article.created_at %><br>
  <%= link_to "User url", user_path(article.user) %> <br>
  <hr>
</div>
