<body>
  <div class="container">
    <div class="page-header">
      <h1> All accepted articles</h1>
      <hr>
      <%= render partial: 'article', collection: @articles, as: :article %>
      <%= will_paginate(@articles) %>
      <%= link_to "Back", :back %>
    </div>
  </div>
</body>
