/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
.album{
  margin-top: 50px;
  height: 1300px;
  padding: 0px;
}

.body{
  padding-top:60px;
  padding-bottom:20px;
}
.jumbotron {
    background-color: #17b88b;
    border-color: #17b88b;
    padding: 2rem 2rem;
}

.footer{
  bottom: 0;
  height: 40px;
  margin-left: 0px;
  padding-left: 0px;
}

.fixed-header{
  top: 0;
  z-index: 1;
}

.footer, .fixed-header{
    background-color: #17b88b;
    border-color: #17b88b;
    position: fixed;
    width: 100%;
    text-align: center;
}

.img-portret{
  zoom: 1;
  clear: left;
  float: left;
  width: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
}
.img-responsive{
  clear: left;
  float: left;
  width: 50%;
  margin-right: 10px;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0rem;
}
ul{
  padding-inline-start: 40px;
}
.container-fluid{
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
