/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap";

$base-duration: 500ms;

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}

.a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button {
	background-image: none;
}

.body {
	padding-top:60px;
	padding-bottom:20px;
	transition: margin-left .5s;
	padding: 20px;
}

.dropdown-menu{
	padding-left: 10px;
}

.menu {
	position: fixed;
	top: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 45px;
	height: 50px;
	background-color: #128665;
	transition: transform $base-duration ease;
	cursor: pointer;
	z-index: 3;
}

#menu {
	display: none;

	&:checked ~ .menu {
		transform: translateX(200px);
		transition: transform $base-duration ease;
	}

	&:checked ~ .nav {
		left: 0;
		transition: left $base-duration ease;
	}

	&:checked ~ main {
		transform: translateX(200px);
		transition: transform $base-duration ease;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: -210px;
	width: 200px;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #0d5843;
	transition: left $base-duration ease;
	z-index: 10;

	ul {
		padding-inline-start: 20px;
		position: relative;
		list-style-type: none;
		margin: 10px 0;
		padding: 0;
		width: 160px;
		li {
			position: relative;
			display: block;
		}
		a {
			position: relative;
			display: block;
			margin: 0;
			padding: 10px 15px;
			font-weight: bold;
			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				transition: width $base-duration ease;
				z-index: -1;
			}
			&:before {
				width: 100%;
				height: 100%;
				background-color: #1fd09e;
				transition: width $base-duration ease;
			}
		}
	}
}

.jumbotron {
	background-color: #17b88b;
	border-color: #17b88b;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 0;
}

.footer {
	bottom: 0;
	height: 40px;
	margin-left: 0;
	padding-left: 0;
	z-index: 0;
}

#fixed-header {
	top: 0;
	margin-left: 0;
	padding-left: 0;
	z-index: 1;
}

.footer, #fixed-header {
	background-color: #17b88b;
	border-color: #17b88b;
	position: fixed;
	width: 100%;
	text-align: center;
}

main {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	transform: translateX(0px);
	transition: transform $base-duration ease;
	z-index: 0;
}

.img-portret {
	zoom: 1;
	clear: left;
	float: left;
	width: 50%;
	margin-right: 10px;
	margin-bottom: 5px;
}

.img-responsive {
	clear: left;
	float: left;
	width: 50%;
	margin-right: 10px;
}

ol, ul, dl {
	margin-top: 0;
	margin-bottom: 0rem;
}

.container-fluid {
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 110px
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}
